*,
*::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-base: "Alice", serif;
    --bg-fallback: #573A37;
    --bg-page: #f0e8c2;
    --text-primary: #3a2524;
    --text-secundary: #573A37;
    --text-footer: #F0E8C2;
}

body {
    font-family: var(--font-family-base);
    color: var(--text-secundary);
    background-color: var(--bg-fallback);
    background-image: url(assets/bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.6;
}

.page {
    background-color: var(--bg-page);
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
}

section+section {
    margin-top: 2rem;
}

.hero img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 16px;
    color: var(--text-primary);
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 24px;
    color: var(--text-primary);
}

h3 {
    font-size: 1.150rem;
    line-height: 1.3;
}

.subtitle {
    font-size: 16px;
    color: var(--text-secundary);
    margin-top: 0.5rem;
}


ul,
ol {
    /* list-style: none; */
    margin-top: 16px;
    padding-left: 20px;
}


footer {
    text-align: center;
    margin-top: 24px;
    padding: 24px 16px;
    color: var(--bg-page);
}