*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-base: "Alice", serif;
    --bg-fallback: #573A37;
    --bg-page: #f0e8c2;
    --text-primary: #3a2524;
    --text-secundary: #573A37;
    --text-footer: #F0E8C2;
}

body {
    font-family: var(--font-family-base);
    color: var(--text-secundary);
    background-color: var(--bg-fallback);
    background-image: url(assets/bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.6;
}

.page {
    background-color: var(--bg-page);
    width: 90%;
    padding: 16px;
    border-radius: 16px;
    margin: 16px auto;
}

section+section {
    margin-top: 1.5rem;
}

.hero img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 16px;
    color: var(--text-primary);
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 1rem;
    color: var(--text-primary);
    text-align: center;
}

h3 {
    font-size: 1.150rem;
    line-height: 1.3;
    margin-top: 1rem;

}

.subtitle {
    font-size: 16px;
    color: var(--text-secundary);
    margin-top: 0.5rem;
    text-align: center;
}

ul,
ol {
    /* list-style: none; */
    margin-top: 0.75rem;
    padding-left: 1.25rem;
}


footer {
    text-align: center;
    margin-top: 24px;
    padding: 24px 16px;
    color: var(--bg-page);
}

@media (min-width: 768px) {
    /* ajuste para tablete/ desktop */
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
        max-width: 1000px;
        margin: 3rem auto;
        padding: 1rem 3rem;
    }

    .hero {
        align-self: center;
        padding-top:  2rem;
    }

    .ingredients {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ingredients h2,
    .preparation h2 {
        grid-column: 1 / -1;
        text-align: center;
    }

    .ingredient-group {
        align-self: center;
        padding: 0 0.5rem ;
    }

    .preparation {
        grid-column: 1 / -1;
        padding: 0 3rem;
    }

    h1 {font-size: 2.5rem;}
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.4rem;}
}